.info {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #ECEFF4;
	font-size: 20px;
	text-align: center;

}

.img {
	text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #ECEFF4;	
	padding-right: 10px;
	padding-bottom: 10px;
	vertical-align: middle;
	text-decoration: none;
}
